{% extends 'base.html.twig' %}

{% block title %}Edit Fillier{% endblock %}

{% block body %}
    <h1>Edit Fillier</h1>

    {{ include('fillier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fillier_index') }}">back to list</a>

    {{ include('fillier/_delete_form.html.twig') }}
{% endblock %}
