{% extends 'base.html.twig' %}

{% block title %}New Fillier{% endblock %}

{% block body %}
    <h1>Create new Fillier</h1>

    {{ include('fillier/_form.html.twig') }}

    <a href="{{ path('app_fillier_index') }}">back to list</a>
{% endblock %}
